html {

}


.title-header {
    float: left;
    width: 90%;
}

.title-icon {
    float: right;
}

.card {
    text-align: center;
}

.card-body {
    text-align: center;
}

/* #text-body {

} */

.form-area {
  margin: 5px 0;
}
